
<% content_for :content do %>
  <div class="a_entry">
    <% form_for([:admin, @gallery], :html => { :multipart => true}) do |f| %>
      <%= f.error_messages %>

      <div class="field">
        <%= f.label :Название %>
        <%= f.text_field :title, :class => "input" %>
      </div>
      <div class="field">
        <%= f.label :Описание %>
        <%= f.text_area :description, :rows => 3, :cols => 40, :class => "input" %>
      </div>
      <div class="field">
        <%= f.label :Изображение%>
        <%= f.file_field :gallery_photo, :class => "input" %>
      </div>

      <%= f.submit "Создать", :class => "button" %>

    <% end %>
  </div>
<% end %>
<% content_for :sidebar do %>
  <%= link_to "Назад", admin_galleries_path %>
<%end%>

