<% title "Редактирование фотографии" + @gallery.title %>

<% form_for @gallery, :url => {:action => 'update'}, :html => { :multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Описание %><br/>
    <%= f.text_area :description, :rows => 3, :cols => 40 %>
  </p>
  <p>
    <%= f.label :Изображение%><br />
    <%= f.file_field :gallery_photo %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
