<%= javascript_include_tag 'jquery.galleriffic.js' %>
<%= stylesheet_link_tag 'basic.css' %>
<%= stylesheet_link_tag 'galleriffic-2.css' %>
<%= javascript_include_tag 'jquery.history.js' %>
<%= javascript_include_tag 'jquery.opacityrollover.js' %>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    // We only want these styles applied when javascript is enabled
    $j('div.navigation').css({'width' : '300px', 'float' : 'left'});
    $j('div.content').css('display', 'block');

    // Initially set opacity on thumbs and add
    // additional styling for hover effect on thumbs
    var onMouseOutOpacity = 0.67;
    $j('#thumbs ul.thumbs li').opacityrollover({
      mouseOutOpacity:   onMouseOutOpacity,
      mouseOverOpacity:  1.0,
      fadeSpeed:         'fast',
      exemptionSelector: '.selected'
    });
    
    // Initialize Advanced Galleriffic Gallery
    var gallery = $j('#thumbs').galleriffic({
      delay:                     2500,
      numThumbs:                 8,
      preloadAhead:              10,
      enableTopPager:            true,
      enableBottomPager:         true,
      maxPagesToShow:            12,
      imageContainerSel:         '#slideshow',
      controlsContainerSel:      '#controls',
      captionContainerSel:       '#caption',
      loadingContainerSel:       '#loading',
      renderSSControls:          true,
      renderNavControls:         true,
      playLinkText:              'Play Slideshow',
      pauseLinkText:             'Pause Slideshow',
      prevLinkText:              '&lsaquo; Previous Photo',
      nextLinkText:              'Next Photo &rsaquo;',
      nextPageLinkText:          'Next &rsaquo;',
      prevPageLinkText:          '&lsaquo; Prev',
      enableHistory:             false,
      autoStart:                 false,
      syncTransitions:           true,
      defaultTransitionDuration: 900,
      onSlideChange:             function(prevIndex, nextIndex) {
        // 'this' refers to the gallery, which is an extension of $('#thumbs')
        this.find('ul.thumbs').children()
        .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
        .eq(nextIndex).fadeTo('fast', 1.0);
      },
      onPageTransitionOut:       function(callback) {
        this.fadeTo('fast', 0.0, callback);
      },
      onPageTransitionIn:        function() {
        this.fadeTo('fast', 1.0);
      }
    });
  });

</script>
<p><%= link_to "Добавить  новое изображение", new_admin_gallery_path %></p>
<div id="gallery" class="content">
  <div id="controls" class="controls"></div>
  <div class="slideshow-container">
    <div id="loading" class="loader"></div>
    <div id="slideshow" class="slideshow"></div>
  </div>
  <div id="caption" class="caption-container"></div>


</div>

<div id="thumbs" class="navigation">
  <ul class="thumbs noscript">
    <%  @galleries.each do |photo| %>

      <li>
        <div class="caption">
          <div class="image-title"><%= photo.title %></div>
          <div class="image-desc"><%= link_to "Редактировать", edit_admin_gallery_path(photo) %></div>
        </div>
        <%= link_to(image_tag(photo.gallery_photo.url(:thumb)), photo.gallery_photo.url(:small), :class => "thumb") %>

        <div><%= link_to "Удалить", admin_gallery_path(photo), :confirm => 'Are you sure?', :method => :delete %></div>
      </li>
    <%end%>

  </ul>
</div>
<div style="clear: both;"></div>
