<% form_for ([:admin, @article])do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Статья %><br />
    <%= f.text_area :article, :cols => '120', :class => "mceEditor" %>
  </p>
  <p>
    <%= f.label :Рездел %><br />
    <%= f.select(:directory, Article::CATEGORIES.map{|item| [item, item]}) %>
  </p>

  <p><%= f.submit "Создать" %></p>
<% end %>
<p><%= link_to "Назад", admin_articles_path %></p>
