<% content_for :content do %>
  <div class="a_entry">
    <% form_for ([:admin, @article])do |f| %>
      <%= f.error_messages %>
      <div class="field">
        <%= f.label :Название %>
        <%= f.text_field :title, :size => "30", :class => "input" %>
      </div>
      <div class="field">
        <%= f.label :Рездел %>
        <%= f.select(:directory, Article::CATEGORIES.map{|item| [item, item]}, :class => "select") %>
      </div>
      <div class="field">
        <%= f.label :Статья %>
        <%= f.text_area :article, :cols => '70', :rows => "15", :class => "mceEditor" %>
      </div>

      <%= f.submit "Создать", :class => "button" %>

    <% end %>
  </div>
<% end %>
<% content_for :sidebar do %>
  <div><%=link_to "Назад", admin_articles_path %></div>
<%end%>
