<% title "Статьи" %>

<span style="float: right;"><%= link_to "Новая статья", new_admin_article_path %></span>
<div style="clear:both;"></div>
<% @articles.each do |article| %>
  <div class="post">
    <h1 class="title"><%= article.title %></h1>
    <div class="entry">
      <%= article.description %>

    </div>
    <div class="meta">
      <p class="byline"><%= l(article.created_at, :format => :my) %>
        (<%= article.directory %>)
      </p>
      <p class="links">
        <%= link_to "Редактировать", edit_admin_article_path(article) %>
        <%= link_to "Удалить", admin_article_path(article), :confirm => 'Вы уверены?', :method => :delete %>
      </p>
    </div>
  </div>
<%end%>

<div align="center"> <%= will_paginate @articles %></div>

