<% title "Редактировать статьи" %>
<% content_for :sidebar do %>
  <%= link_to "Новая статья", new_admin_article_path %>
<% end %>
<% content_for :content do %>

    <div class="a_entry">
      <table width="100%">

        <tr class="t_title">
          <td>Статья</td>
          <td>Раздел</td>
          <td>Дата</td>
        </tr>

        <% @articles.each do |article| %>
          <tr class="t_rspan">
            <td><%= article.title %></td>
            <td rowspan="2" align="center" class="t_text"><%= article.directory %></td>
            <td rowspan="2" align="center" class="t_text"><%= l(article.created_at, :format => :my)%></td>
          </tr>
          <tr>
            <td>
              <%= link_to "Редактировать", edit_admin_article_path(article), :class => "b_controls" %>
              <%= link_to "Удалить", admin_article_path(article), :confirm => 'Вы уверены?', :class => "b_controls", :method => :delete %>
              <%= link_to "Посмотреть", admin_article_path(article), :class => "b_controls" %>
            </td>
          </tr>


        <%end%>
      </table>
    </div>

    <div align="center"> <%= will_paginate @articles %></div>

<% end %>
