<% form_for ([:admin, @order]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Имя %><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :Фамилия %><br/>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :Email %><br/>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :Телефон %><br/>
    <%= f.text_field :telephone %>
  </p>

  <p>
    <%= f.label :Город %><br/>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :Область %><br/>
    <%= f.select(:region, Order::REGIONS.map{|item| [item, item]}, {:include_blank => true})%>
  </p>
  <p>
    <%= f.label "Почтовый индес" %><br/>
    <%= f.text_field :post_index %>
  </p>
  <p>
    <%= f.label :Адрес %><br/>
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </p>
  <p>
    <%= f.label :Сообщение %><br/>
    <%= f.text_area :message, :rows => 3, :cols => 40 %>
  </p>

  <p><%= f.submit "Создать" %></p>
<% end %>
