<% title "Заказы" %>
<% unless @orders.blank? %>
  <table id="order_table">
    <tr>
      <th>Дата заказа</th>
      <th>Клиент</th>
      <th>Сообщение</th>
    </tr>
    <% for order in @orders %>
      <tr>
        <td><%= l(order.created_at, :format => :my) %></td>
        <td><%=h order.first_name %> <%=h order.last_name %></td>
        <td><%=h order.message %></td>


        <% if logged_in? %>
          <td><%= link_to "Подробней", admin_order_path(order) %></td>
          <td><%= link_to "Редактировать", edit_admin_order_path(order) %></td>
          <td><%= link_to "Удалить", admin_order_path(order), :confirm => 'Вы уверены?', :method => :delete %></td>

        <%end%>
      </tr>
    <% end %>
  </table>
  <div align="center"> <%= will_paginate @orders %></div>
<%else%>
  <div id="flash_notice" style="float: right; text-align: center; width: 900px"> Заказов пока нет </div>
<%end%>
