<% title "Editing " + @product.title %>

<% form_for @product, :url => {:action => 'update'}, :html => { :multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => '80', :class => "mceEditor" %>
  </p>
  <p>
    <%= f.label :product_photo %><br />
    <%= f.file_field :product_photo %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
