<% if logged_in? %>
  <div id="admin_menu">
    <ul>
      <% app_menu.each do |item|%>
        <%if item[:controller].to_s == controller.controller_path.to_s%>
          <li class="current_page_item"><%= link_to  item[:name], eval(item[:path]) %></li>
        <%else%>
          <li><%= link_to  item[:name], eval(item[:path]) %></li>
        <%end%>

      <%end%>
          <li><%= link_to "Выход", logout_path %> </li>
    </ul>
  </div>
<%else%>
  <div id="menu">
    <ul>
      <% @meny_items.each do |meny_item| %>
        <% if controller.action_name == meny_item.action.to_s  %>
          <li class="current_page_item"><%= link_to  meny_item.name, :controller => meny_item.controller, :action => meny_item.action %> </li>
        <%else%>
          <li><%= link_to  meny_item.name, :controller => meny_item.controller, :action => meny_item.action %> </li>
        <%end%>
      <%end%>
      <li style="float: right;"> <%= link_to  "Обратная связь", checkout_home_path %> </li>

    </ul>
  </div>



<%end%>
