<% if logged_in? %>
  <div id="admin_menu">
    <ul>
      <% app_menu.each do |item|%>
        <%if item[:controller].to_s == controller.controller_path.to_s%>
          <li class="a_current_page_item"><%= link_to item[:name], eval(item[:path]) %></li>
        <%else%>
          <li><%= link_to item[:name], eval(item[:path]) %></li>
        <%end%>

      <%end%>
          <li><%= link_to "Выход", logout_path %> </li>
    </ul>
  </div>
<%else%>
  <div id="menu">
    <ul>

 <%= link_to("",:url_for => {:controller => @meny_items[0].controller, :action => @meny_items[0].action}, :html => {:id => "news"}) %>
<%= link_to("",:url_for => {:controller => @meny_items[1].controller, :action => @meny_items[1].action}, :html => {:id => "ritual"}) %>
<%= link_to("", :url_for => {:controller => @meny_items[2].controller, :action => @meny_items[2].action}, :html => {:id => "pam"}) %>

<%= link_to("", :url_for => {:controller => @meny_items[3].controller, :action => @meny_items[3].action}, :html => {:id => "gall"}) %>
<%= link_to( "",:url_for => {:controller => @meny_items[4].controller, :action => @meny_items[4].action}, :html => {:id => "cont"}) %>
<%= link_to( "",:url_for => {:controller => @meny_items[5].controller, :action => @meny_items[5].action}, :html => {:id => "abou"}) %>
      
      <li style="float: right;"> <%= link_to  "Обратная связь", checkout_home_path %> </li>

    </ul>
  </div>



<%end%>
