<% if logged_in? %>
  <div class="path1"><%=@category.category_name%>&nbsp;<%= link_to 'Добавить категорию', new_admin_product_category_path(:parent_id => @category.id) %>&nbsp;<%= link_to 'Добавить товар', new_admin_product_path(:parent_id => @category.id) %></div>

  <div class="path2"><%= link_to 'Изменить', edit_admin_product_category_path(@category.id) %>&nbsp;<%= link_to 'Удалить', admin_product_category_path(@category.id), :confirm => 'Вы уверены?', :method => :delete %></div>
  <div style="clear: both;">&nbsp;</div>

<%end%>
<% unless logged_in? %>
  <%=@category.category_name%>&nbsp;
<% end %>

<% unless @products.blank? %>
  <table width="100%" class="none">
    <% @products.each_with_index do |product, index| %>
      <% if index % 3 == 0 or index == 0 %>
        <tr class="none">
        <%  end -%>
        <td  class="none" valign="top">
          <table width="100%" class="none">
            <tr class="c_title">
              <td class="none">
                <%=h product.title %>
              </td>
            </tr>
            <tr class="none">
              <td class="none" align ="center"><%= image_tag product.product_photo.url(:thumb) %></td>
            </tr>
            <tr class="none">
              <td valign="top" class="c_discription"><%= product.description %></td>
            </tr>
            <tr class="none">
              <% if logged_in? %>
                <td align="center" class="none">
                  <%= link_to "Редактировать", edit_admin_product_path(product), :class => "b_controls" %>&nbsp;
                  <%= link_to "Удалить", admin_product_path(product), :confirm => 'Вы уверены?', :class => "b_controls", :method => :delete %>
                </td>
              <%end%>
            </tr>
          </table>
        </td>
        <% if index+1 % 2 == 0 and index != 0 %>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div style="clear:both;"></div>
  <div align="center"><%= will_paginate @products %></div>
<%else%>
  <div id="flash_notice"> Товаров пока нет </div>
<%end%>
<script type="text/javascript">
  $j(document).ready(function($) {

    $j('div.pagination a').click( function() {
      var page_pattern = new RegExp(  /.*page\=(\d+).*/);
      var page_number = page_pattern.exec( this );
      if( page_number != null )
      {
        page_number = page_number[1];
      }
      else
      {
        page_number = 1;
      }
      $j.getScript("/home/show_product_table?parent_id=<%=@category.id%>&page=" + page_number );
      return false
    });
  });
</script>