<% content_for :title do %>
  Харон.Ритуальные услуги.
<% end %>
<% content_for :content do %>
  <div id="product_data" style="float:left;width:100%">
    <% unless @category.blank? %>
      <%= render :partial => 'shared/products' %>
    <%else%>
      <% unless @funerals_news.blank? %>
        <% @funerals_news.each do |funerals_news| %>
          <div class="post">
            <h1 class="title"><%= funerals_news.title %></h1>
            <div class="entry">
              <%= funerals_news.description %>

            </div>
            <div class="meta">
              <p class="byline"><%= l(funerals_news.created_at, :format => :my) %></p>
              <p class="links"><%= link_to "Читать дальше→",  show_article_home_path( :id => funerals_news)%></p>
            </div>
          </div>
        <%end%>
        <div align="center"><%= will_paginate @funerals_news %></div>
      <%end%>
    <%end%>
  </div>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => "shared/funerals_tree" %>
  
<% end %>


