<% content_for :title do %>
  Харон.Памятники.
<% end %>
<% content_for :header do %>
  <h1 class="title">Памятники</h1>
<% end %>
<% content_for :content do %>
  <div id="product_data" style="float:left;width:100%">
    <% unless @category.blank? %>
      <%= render :partial => 'shared/products' %>
    <%else%>
      <%  unless @monuments_news.blank? %>
        <% @monuments_news.each do |monuments_news| %>
          <div class="post">
            <h1 class="title"><%= monuments_news.title %></h1>
            <div class="entry">
              <%= monuments_news.description %>

            </div>
            <div class="meta">
              <p class="byline"><%= l(monuments_news.created_at, :format => :my) %></p>
              <p class="links"><%= link_to_remote "Читать дальше→",  :url => { :action => "show_article", :id => monuments_news}%></p>
            </div>
          </div>
        <%end%>
        <div align="center"><%= will_paginate @monuments_news %></div>
      <%end%>
    <%end%>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "shared/monuments_tree" %>

<% end %>