<% content_for :content do %>
  <div class="a_entry">
    <% form_for([:admin, @contact]) do |f|%>
      <%= f.error_messages %>
      <div class="field">
        <%= f.label :Контакт %>
        <%= f.text_area :contact, :cols => '70', :rows => "15", :class => "mceEditor" %>
      </div>
      <%= f.submit "Создать", :class => "button" %>
    <%end%>

  </div>
<% end %>
<% content_for :sidebar do %>
  <%= link_to "Назад", admin_contacts_path %>
<%end%>
