<% content_for :content do %>
  <div class="a_entry">
    <% form_for([:admin, @company_information]) do  |f|%>
      <%= f.error_messages %>
      <div class="field">
        <%= f.label "Информация о компании" %>
        <%= f.text_area :information, :cols => '70', :rows => "15", :class => "mceEditor" %>
      </div>
      <%= f.submit "Создать", :class => "button" %>
    <%end%>
  </div>
<% end %>
<% content_for :sidebar do %>
  <%= link_to "Назад", admin_company_informations_path %>
<%end%>
