<% content_for :content do %>
  <div class="a_entry">
    <% form_for([:admin, @product], :html => { :multipart => true}  )do |f| %>
      <%= f.error_messages %>
      <%= hidden_field_tag  :parent_id, params[:parent_id] %>

      <div class="field">
        <%= f.label :Название %>
        <%= f.text_field :title, :class => "input" %>
      </div>
      <div class="field">
        <%= f.label :Описание %>
        <%= f.text_area :description, :cols => '80', :class => "mceEditor" %>
      </div>
      <div class="field">
        <%= f.label :Изображение %>
        <%= f.file_field :product_photo, :class => "input" %>
      </div>
      <%= f.submit "Создать", :class => "button" %>
    </div>
  <% end %>
<% end %>
<% content_for :sidebar do %>
  <%= link_to "Назад", admin_products_path %>
<%end%>


